@import url(http://fonts.googleapis.com/css?family=Oswald:400,300,700);
body {
  font-family: 'Oswald', sans-serif !important;
}

pre {
   font-family: 'Oswald', sans-serif !important;
   font-size: 20px;
}


.center_text {
  text-align:center;
}

.button-box {
   text-align:center;
   margin-top:20px;
}

.search {
  text-align: center;
}

.user_options {
  text-align: center;
  margin-bottom:40px;
}


.login_f, .reg_f {
  display: block;
  text-align: center;
  margin-left: 400px;
  margin-right: 400px;
}

h1, h2, h3 {
  text-align: center;
}


h4 {
  margin-right: 80px;
  margin-left: 80px;
  margin-top:40px;
}

.home {
  margin-right: 80px;
  margin-left: 80px;
  margin-bottom:40px;
}

.c_home {
  text-align: center;
  margin-bottom:40px;
}

.rec_view {
/*  margin-right: 80px;
  margin-left: 80px;*/
  text-align:center;
}

.city_recs, .user-recs {
  text-align: center;
  list-style-position: inside;
}


.create_form {
  margin-right: 80px;
  margin-left: 80px;
}

.edit-form {
  margin-right: 80px;
  margin-left: 80px;
}


.carousel-inner {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  height: 400px
}



#map {
    height: 1000px;
}

header {
  position: relative;
  height: 75vh;
  min-height: 25rem;
  width: 100%;
  overflow: hidden;
}

header video {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: 0;
  -ms-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}

header .container {
  position: relative;
  z-index: 2;
}

header .overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  opacity: 1;
  z-index: 1;
}

@media (pointer: coarse) and (hover: none) {
  header video {
    display: none;
  }
}




