{% extends 'base.html' %}
{% block content %}

  <h2>Usernames with recommendations for {{ city_name | title}}</h2>


<!-- <div class="city_recs"> -->
  <ul class="city_recs">    
    {% for rec in recs %}
        <li>
          <a href="/view_recommendation/{{ rec.rec_id }}">
            {{ rec.user.username  | title}} : {{ rec.rec_name  | title }}
          </a>
        </li>
    {% endfor %}
  </ul>
<!-- </div> -->

  <br>
<form action='/'>
    <input type="submit" value="Return Home!" />
</form>

{% endblock %}