{% extends 'base.html' %}
{% block content %}

  <h2>Usernames with recommendations for {{ city_name }}</h2>

{% if city_name == None %}
There are no recommendations for {{ city_name yet}}
{% else %}
  <ul>    
    {% for rec in recs %}
        <li>
          <a href="/view_recommendation/{{ rec.rec_id }}">'
            {{ rec.user.username }} : {{ rec.rec_name }}
          </a>
        </li>
    {% endfor %}
  </ul>
{% endif %}

  <br>
<form action='/'>
    <input type="submit" value="Return Home!" />
</form>

{% endblock %}