{% extends 'base.html' %}
{% block content %}

<h2>Create a new recommendation to share with others!</h2>

<form action='/create_new_rec' method="POST">
    
    </b><br>
    Please enter what you would like to call your review: <textarea name=rec_name rows='1' cols='80'></textarea><br><br>

    <b>CITY:</b><br>
    Please enter the city you will review: <textarea name=city_name rows='1' cols='80'></textarea><br>
    Add an explanation on what you loved about the city: <textarea name=city_info rows='1' cols='80'></textarea><br><br>

    <b>STAY:</b><br>
    Where did you stay: <textarea name=stay_name rows='1' cols='80'></textarea><br>
    Add information about your stay: <textarea name=stay_info rows='1' cols='80'></textarea><br><br>

    <b>EAT:</b><br>
    Where must you eat when visiting: <textarea name=eat_name rows='1' cols='80'></textarea><br>
    Add information about those restaurants: <textarea name=eat_info rows='1' cols='80'></textarea><br><br>

    <b>DO:</b><br>
    What activities do you recommend: <textarea name=do_name rows='1' cols='80'></textarea><br>
    Why did you love doing them: <textarea name=do_info rows='1' cols='80'></textarea><br><br>

<input type='submit'>
</form>

<br>
<form action='/'>
    <input type="submit" value="Return Home!" />
</form>

{% endblock %}