{% extends 'base.html' %}
{% block content %}

<!-- Actions - login (username, password, link to register)
Search recs by city
search recs by username
button create/edit city rec page (only show if logged in) -->

<form action='/login'>
<input type="submit" value="Login"'>
</form>

<form action='/logout'>
<input type="submit" value="Logout"'>
</form>

<form action='/register'>
<input type="submit" value="Register"'>
</form>

<!-- name will be the city they type and then return the city options page -->
<form action='/search_city/{{ city_name }}'>
Search for recommendations by city! <input type='text' name=city_name>
<input type='submit'>
</form>

<!-- name will be the username they want to see city options for -->
<form action='/search_user/<username>'>
Search for recommendations by username! <input type='text' name= 'search_by_username'>
<input type='submit'>
</form>

{% endblock %}
