{% extends 'base.html' %}
{% block content %}


<!-- <video autoplay muted loop id="myVideo">
  <source src="static/26278748-preview.mp4" type="26278748-preview.mp4">
</video> -->

<!-- button create/edit city rec page (only show if logged in) -->
{% if session['username'] %}
{% else %}
    <form action='/login'>
    <input type="submit" value="Login"'>
    </form>

    <form action='/register'>
    <input type="submit" value="Register"'>
    </form>
{% endif %}

<br><form action='/search_city'>
Search for recommendations by city! <input type='text' name=city_name>
<input type='submit'>
</form>

<!-- name will be the username they want to see city options for -->
<form action='/search_username'>
Search for recommendations by username! <input type='text' name= 'username'>
<input type='submit'>
</form><br>

{% if not session['username'] %}
{% else %}
  
    <form action='/create_rec'>
    <input type="submit" value="Create New Recommendation!"'>
    </form><br>

    <form action='/recommendations/edit'>
    <input type="submit" value="View/Edit Exisiting Recommendations"'>
    </form><br>

    <form action='/logout'>
    <input type="submit" value="Logout"'>
    </form>
{% endif %}


{% endblock %}
