{% extends 'base.html' %}
{% block content %}


<h2>{{recommendation.rec_name}}</h2>
created by {{ recommendation.user.username }}<br><br>

<h3>{{recommendation.city.city_name}}</h3>

<div>{{recommendation.city.city_info}}</div><br>

STAY
<div>{{recommendation.stay_name}}</div>

<div>{{recommendation.stay_info}}</div><br>
EAT
<div>{{recommendation.eat_name}}</div>

<div>{{recommendation.eat_info}}</div><br>
DO
<div>{{recommendation.do_name}}</div>

<div>{{recommendation.do_info}}</div><br>


{% if session['username'] == recommendation.user.username %}
    <form action='/rec_edit/{{ recommendation.rec_id }}'>
        <input type="submit" value="Edit this recommendation" />
    </form><br>

    <form action='/rec_delete/{{ recommendation.rec_id }}'>
        <input type="submit" value="Delete this recommendation" />
    </form><br>
{% else %}
{% endif %}

<form action='/'>
    <input type="submit" value="Return Home!" />
</form>

 {% endblock %}